[y-page='play/main'] {
	#top-info {
		text-align: center;
		margin: 1em;
		font-size: 1.2rem;

		b {
			color: tomato;
			border-bottom: 3px solid salmon;
		}
	}

	#action-board {
		$line-height: 1.3rem;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax($line-height * 5, 1fr));
		grid-template-columns: repeat(auto-fit, minmax(1fr, 150px));
		grid-auto-rows: $line-height * 5;
		gap: 10px;

		button {
			flex: 1 0 33%;
			padding: 2px 5px;
			border: 2px solid green;
			border-radius: 5px;
			opacity: 1;
			background: white;
			transition: background 500ms, font-size 500ms;
			line-height: $line-height;
			font-size: calc(13.3333 / 16 * 1rem);
			color: black;

			b {
				font-size: calc(14 / 16 * 1rem);
				transition: font-size 500ms;
			}

			&:disabled {
				border-color: grey;
				color: lightgrey;
			}

		}

		&.end button {
			min-height: 0;
			max-height: 0;
			overflow: hidden;
			border-width: 0;
			opacity: 0;
			transition-property: min-height, border-width, opacity;
			transition-duration: 1s, 500ms, 500ms;
			transition-delay: 1s, 1.3s, 1.2s;
		}

		&.disabled button {
			color: lightgrey;
			border-color: grey;
		}

		&:not(.disabled) button:enabled {
			&:focus,
			&:hover {
				padding: 1px 4px;
				border: 3px solid green;
				background: lightgreen;
				font-size: 1rem;
				cursor: pointer;

				b {
					font-size: calc(14 / 13.3333 * 1rem);
				}
			}
		}
	}

	div#map-board {
		display: grid;
		$padding: 5px;
		gap: $padding * 2;
		padding: $padding * 1.5;
		border-radius: 12px;
		width: 100%;
		margin: 10px 0;
		background: darkgoldenrod;

		.tile {
			border-radius: 10px;
			min-height: 100px;
			min-width: 100px;
			text-align: center;
			background: white;

			&[data-terrain~="grass"] {
				background: #36a165;
			}

			&[data-terrain~="ocean"] {
				background: cornflowerblue;
			}

			&[data-terrain~="plains"] {
				background: #ffeb88;
			}

			$farm: goldenrod;

			&[data-use~="farm"] {
				background: $farm;
			}

			&[data-use~="grain"] {
				background: gold;
				border: 5px solid $farm;
			}

			&[data-use~="vegetable"] {
				background: #e97a1c;
				border: 5px solid $farm;
			}
		}
	}
}
